body {
  margin: 0;
}
body header.search {
  background-color : #F56400;
  padding          : 0.5rem;
  display          : flex;
  flex-direction   : row;
}
body header.search > * {
  margin: .5rem;
}

body header.search input {
  flex-grow : 1;
  height    : 2rem;
  font-size : 1.75rem;
}

body header.search button {
  width : 5rem;
}

ul.results-list {
  list-style     : none;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
}

ul.results-list li {
  padding : 0;
  width   : 15rem;
  margin  : 1rem;
}

ul.results-list li img {
  width  : 100%;
  height : auto;
}