body {
  margin: 0;
}
body header.search {
  background-color : #F56400;
  padding          : 0.5rem;
  display          : flex;
  flex-direction   : row;
}
body header.search > * {
  margin: .5rem;
}

body header.search input {
  flex-grow : 1;
  height    : 2rem;
  font-size : 1.75rem;
}

body header.search button {
  width : 5rem;
}

.main-results {
  display        : flex;
  flex-direction : column;
  margin-top     : 1rem;
  width          : 100%;
}

.main-results .results-header {
  height      : 4rem;
  font-family : sans-serif;
  font-size   : 3rem;
  text-align  : center;
}

ul.results-list {
  list-style     : none;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
}

ul.results-list li {
  border: 1px solid #F56400;
  padding : 0;
  width   : 15rem;
  margin  : 1rem;
}

ul.results-list li .image img {
  width      : 100%;
  height     : auto;
}

ul.results-list li .image {
  min-width  : 170px;
  min-height : 135px;
  width      : 100%;
  height     : auto;
}